.Home {
  background-color: transparent;
  background: linear-gradient(180deg, rgba(255, 204, 0, 0.42) 0%, rgba(255, 204, 0, 0) 100%);
  height: 600px;
  display: flex;
  justify-content: space-between;
}

.Hospitality {
  background-color: transparent;
  background: linear-gradient(180deg, rgba(255, 204, 0, 0.42) 0%, rgba(255, 204, 0, 0) 100%);
  height: 600px;
  display: flex;
  justify-content: center;
  /* align-items: center; */
}

.content {
  width: 90%;
  margin: 100px auto 0px auto;
  padding: 20px;
  display: flex;
}

.Hospitality_content {
  width: 100%;
}

.details {
  background-color: transparent;
  background: linear-gradient(180deg, #EDF8EB00 0%, #edf8eb 100%);
  /* height: 800px; */
  display: flex;
}

.blog {
  background-image: url('./assets/Blog.png');
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: contain;
  z-index: -1;
}

.blog_img {
  transition: transform 0.3s ease-in-out;
}

.blog_img:hover {
  transform: scale(1.1);
}

.mandlac_project {
  background-color: transparent;
  background: linear-gradient(180deg, #FFCC006B 0%, #FFCC0000 100%);
  height: 700px;
}

.recent_project {
  background-color: transparent;
  background: linear-gradient(180deg, #edf8eb 0%, #EDF8EB00 100%);
  height: 700px;
}


.client {
  background-image: url('./assets/Blog.png');
  background-repeat: no-repeat;
  background-size: contain;
  z-index: -1;
  /* margin: 0 10px; */
}

.silders {
  width: 80%;
  margin: 0 auto;
}

/* .slick-list {
  background: red;
  border-radius: 10px;
  padding-left: 100px !important;
}

.slick-slider {
  margin: 100px;
} */